/******Aggiunta Font*********/
@font-face {
	font-family: 'Sansation';
	src: local('Sansation'),  /* nome del font */
	     url('../fonts/Sansation_Regular.eot'),
	 	 url('../fonts/Sansation_Regular.woff') format('woff'),
		 url('../fonts/Sansation_Regular.ttf') format('truetype'),
		 url('../fonts/Sansation_Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Hanken Grotesk';
	src: local('Hanken Grotesk'),   /* nome del font */
		 url('../fonts/Hanken Grotesk/WEB/HankenGrotesk-Regular.woff') format('woff'),
		 url('../fonts/Hanken Grotesk/OTF/HankenGrotesk-Regular.otf') format('otf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Hanken GroteskBold';
	src: local('Hanken Grotesk'),   /* nome del font */
		 url('../fonts/Hanken Grotesk/WEB/HankenGrotesk-Semibold.woff') format('woff'),
		 url('../fonts/Hanken Grotesk/OTF/HankenGrotesk-Semibold.otf') format('otf');
	font-weight: bold;
	font-style: normal;
}

html{
     scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

body{
    background-image: url(../img/Sfondo.jpg);
    background-attachment: fixed;
    font-family: 'Hanken Grotesk', Arial, Helvetica, sans-serif;
	margin:0 auto;
	font-size:10.5pt;
	color:#fff;
	text-align:left;
	background-size: cover;
	clear: all;
}

::selection {
    background-color: #83ba43;
    color: white;
}

/*********BARRA DI NAVIGAZIONE***************/

header nav{
    padding: 3px 20px 3px 20px;
    background-color: rgba(0,0,0,0.7);
    /*background-color: #222;*/
    box-shadow: 1px 2px 2px #000;
    overflow: hidden;
    position: fixed;
    color: #fff;
    top: 0;
    width: 100%;
    z-index: 3000;
}

h2 a{
    float: left;
    margin-left: 20px;
    color: #fff;
    margin-top: 0.2em;
    font-size: 0.9em;
    text-decoration-line: none;
    letter-spacing: .1em;
    /*border: 1px solid;*/
    padding: 10px;
    /*animation: animazioneBorder 2.5s infinite;*/
}

h2 a i{
    font-size: 1.4em !important;
    vertical-align: middle;
}

h2 a:hover,h2 a:active{
    color: #aaa !important;
    cursor: pointer;
    /*transition: 0.5s all;
    animation: none;
    border: 1px solid #aaa;*/
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li{
    margin-right: 2%;
}

nav ul li a {
    display: block;
    padding: 10px 20px 0px 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    letter-spacing: .1em;
    /*background-color: rgba(0,0,0,0.7);*/
    text-align: center;
    text-decoration-line: none;
}

nav ul li a:nth-of-type(1){
    font-size: 1.2em;
}

nav ul li a:hover{
    cursor: pointer;
    color: #aaa !important;
    text-decoration: none;
}

/*********SECTION************/
section{
    width: fit-content;
    margin: 0 auto;
    margin-top: 10%;
    background:transparent;
    /*border: 1px solid #fff;
    border-radius: 2px;*/
    overflow: auto;
}

#postWrapper{
    width: 100%;
    display: flex;
    background: #222;
    box-shadow: 0 0 25px 5px #333333;
    flex-flow: row wrap;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #333;
}

#username{
    margin-left: 6%;
}

#imgProfile{
    width: 150px;
    height: 150px;
    margin-left: 5%;
    border-radius: 50%;
}

#imgProfile i{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 8em !important;
}

#info{
    width: 72%;
    margin-left: 5%;
    /*border: 1px solid #fff;*/
    font-size: 1.9em;
    text-align: center;
    line-height: 1.9em;
    border-bottom: 1px solid #fff;
}

#info label{
    margin-left: 5%;
}

#desc{
    width: 100%;
    height: 20%;
    /*border: 1px solid #fff;*/
    padding: 10px;
}

#desc{
    line-height: 0.9em;
}

#divBtn{
    width: 100%;
    margin-bottom: 0.7em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#btnModifica{
    width: 40%;
    background: #333;
    color: #eee;
    border: none;
    margin: 0 auto;
    border-radius: 1px;
    padding: 0.3em;
}

#btnModifica:hover{
    background: #eee;
    color: #333;
}

#icons{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#icons div{
    width: 50%;
    padding: 5px;
    text-align: center;
    border: 1px solid #fff;
}

#icons div:nth-of-type(1){
    border-right: 2px solid #fff;
}

#userPost{
    width: 100%;
    /*border: 1px solid #fff;*/
    padding: 20px 10px 10px 10px;
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;   
}

.post{
    width: 250px;
    height: 250px;
    margin: 0 0.5em;
    border: 1px solid #fff;
}

@media (max-width: 700px){
    section{
        margin-top: 15%;
    }

    #info{
        width: 52%;
    }
}

@media (min-width: 1440px) and (max-width: 2200px){  
    section{
        margin-top: 5%;
    }
    #postWrapper{
        margin-bottom: 8%;
    }
}

.icon{
    color: #fff;
    font-size: 1.6em !important;
}

.icon:hover{
    cursor: pointer;
    color: #aaa;
}

/***********FOOTER***********/
footer{
    padding: 3px 20px 3px 20px;
    background-color: rgba(0,0,0,0.7);
    /*background-color: #222;*/
    box-shadow: 1px 2px 2px #000;
    overflow: hidden;
    position: fixed;
    color: #fff;
    bottom: 0;
    width: 100%;
    z-index: 3000;
}

footer ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

footer ul li{
    margin-right: 10%;
}

footer ul li:nth-of-type(6){
    margin-right: 0;
}

footer ul li a {
    display: block;
    padding: 10px 20px 0px 20px;
    margin-top: 0.2em;
    font-size: 12pt;
    font-weight: bold;
    color: #fff;
    letter-spacing: .1em;
    /*background-color: rgba(0,0,0,0.7);*/
    text-align: center;
    text-decoration-line: none;
}
